header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100vw;
  background-color: #0a7b83;
}

img {
  height: 100px;
  width: 150px;
  margin: 10px;
}

ul {
  display: flex;
}

li {
  list-style: none;
  margin-right: 20px;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.favorites {
  border: 2px solid #f2b999;
  border-radius: 15px;
  font-size: smaller;
  padding: 5px;
}
