header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100vw;
  background-color: #023e58;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100vw;
  box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.5);
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.4); */
}
img {
  height: 120px;
  width: 150px;
}

ul {
  display: flex;
}

li {
  list-style: none;
  margin-right: 20px;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.favorites {
  border: 2px solid #f2b999;
  border-radius: 15px;
  font-size: smaller;
  padding: 5px;
}
