/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  font-family: "Muli", sans-serif;
}

body {
  font-family: "Muli", sans-serif;
  background-color: #f2b999;
}
