.cost-living {
  display: flex;
}

p {
  margin: 10px;
  height: 30px;
  width: 30px;
}

.popup {
  position: fixed;
  width: 50vw;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  top: 0;
  left: 0;
  z-index: 3;
  border: 2px solid lavender;
  border-radius: 30px;
  justify-content: space-between;
}
