<app-header></app-header>
<div class="filter">
  <h2>Filter by</h2>
  <div class="weather">
    <img src="#" alt="weather" />
  </div>
  <div class="population">
    <img src="#" alt="population" />
  </div>
  <div (click)="toggleDisplay()">
    <img src="../../assets/money.jpeg" alt="cost of living" height="50" />
    <div *ngFor="let cost of costOfLiving; index as i" class="cost">
      <div *ngIf="i < 10">
        <p>{{ cost.rent_index | currency }}</p>
      </div>
    </div>
  </div>
</div>

<!-- <div>
<form>
<label for="hot">Hot</label>
<input type="checkbox">x</input>
</form>
</div> -->

<google-map>
  <map-marker *ngFor="let marker of markers" [position]="marker.position">
  </map-marker>
</google-map>
<div *ngFor="let city of popularCities; index as i">
  <div *ngIf="i < 10">
    <p>{{ city.country }}</p>
    <p>{{ city.city_name }}</p>
  </div>
</div>
