<app-header></app-header>
<div class="filter">
  <h2>Filter by</h2>
  <div class="weather">
    <img src="#" alt="weather" />
  </div>
  <div class="population">
    <img src="#" alt="population" />
  </div>
  <div (click)="toggleDisplay()">
    <img src="../../assets/money.jpeg" alt="cost of living" height="50" />
    <div class="cost-living">
    <div class="box1">
      <p>$</p>
      <p>From <150</p>
    </div>
    <div class="box2">
      <p>$$</p>
      <p>From 150 - 350</p>
    </div>
    <div class="box3">
        <p>$$$</p>
        <p>From 350 - 500</p>
    </div>
    <div class="box4">
        <p>$$$$</p>
        <p>From >500</p>
    </div>
</div>

    <div *ngFor="let cost of costOfLiving; index as i" class="cost">
      <div *ngIf="i < 10">
        <p>{{ cost.rent_index | currency }}</p>
      </div>
    </div>
  </div>
</div>

<!-- <div>
<form #weatherForm="ngFrom" (ngSubmit)="search(cityForm)">
<label for="city">Hot</label>
<input type="checkbox">x</input>
</form>
</div> -->

<google-map>
  <map-marker *ngFor="let marker of markers" [position]="marker.position">
  </map-marker>
</google-map>
<div *ngFor="let city of popularCities; index as i">
  <div *ngIf="i < 10">
    <p>{{ city.country }}</p>
    <p>{{ city.city_name }}</p>
  </div>
</div>
