h3 {
  text-align: center;
  margin: 20px;
}

p {
  height: 30px;
  width: 30px;
}

input {
  border: 2px solid #b56de8;
  border-radius: 15px;
}

::placeholder {
  padding: 5px;
}

label {
  padding: 5px;
}

.text-filter {
  display: flex;
  justify-content: center;
}

button {
  border: 2px solid #b56de8;
  border-radius: 15px;
  margin: 5px;
}

.img-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

img {
  width: 70px;
  height: 70px;
  border: 3px solid black;
  border-radius: 15px;
  margin: 15px;
  background-color: white;
}

google-map {
  display: flex;
  justify-content: center;
}

.map {
  border: 4px solid #008cba;
  border-radius: 10px;
}

.popup-container {
  position: fixed;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 3;
  overflow-y: scroll;
}

.popup {
  display: flex;
  width: 50vw;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(124, 0, 131, 0.2);
  top: 0;
  left: 0;
  z-index: 3;
  border: 2px solid lavender;
  border-radius: 30px;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.overlay-cost {
  position: relative;
}

.overlay-cost:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.image {
  display: block;
}

img:active {
  box-shadow: 0 5px white;
  transform: translateY(4px);
  border-color: lightgrey;
}

